<%= simple_form_for(@chapter_leader) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :chapter_id %>
    <%= f.input :leader_id %>
    <%= f.input :position_1 %>
    <%= f.input :position_2 %>
    <%= f.input :position_3 %>
    <%= f.input :position_4 %>
    <%= f.input :position_5 %>
    <%= f.input :spouse_position_1 %>
    <%= f.input :spouse_position_2 %>
    <%= f.input :spouse_position_3 %>
    <%= f.input :spouse_position_4 %>
    <%= f.input :spouse_position_5 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
