<%= simple_form_for(@chapter_leader) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :chapter, prompt: "Select a chapter...", collection: Chapter.all, as: :group, group_method: :state %>
    <%= f.association :member %>
    <%= f.input :position, collection: ChapterLeader.positions %>
    <%= f.input :spouse_position, collection: ChapterLeader.positions %>
    <% if admin_user? %>
    <%= f.input :position_import_id %>
    <%= f.input :spouse_position_import_id %>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
  </div>
<% end %>
