<h1>Chapter Leaders</h1>
<table class="table table-striped">
  <tr>
    <th><%=tt "name" %></th>
    <th><%=tt "chapter" %></th>
    <th><%=tt "spouse" %></th>
    <th><%=tt "spouse_position" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chapter_leaders.each do |chapter_leader| %>
  <tr>
    <% chapter_leader_name = chapter_leader.member.name unless chapter_leader.member.blank? || chapter_leader.id %>
    <td><%= link_to chapter_leader_name, chapter_leader %></td>
    <td><%= chapter_leader.chapter_id %></td>
    <td><%= chapter_leader.position %></td>
    <td><%= chapter_leader.spouse_position %></td>
    <td><%= link_to 'Edit', edit_chapter_leader_path(chapter_leader) %></td>
    <td><%= link_to 'Destroy', chapter_leader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chapter leader', new_chapter_leader_path, :class => "btn btn-primary" %>
