<h1>Listing chapter_leaders</h1>

<<<<<<< HEAD
<table class="table table-striped">
=======
<table>
>>>>>>> starting out
  <tr>
    <th>Chapter</th>
    <th>Leader</th>
    <th>Position 1</th>
    <th>Position 2</th>
    <th>Position 3</th>
    <th>Position 4</th>
    <th>Position 5</th>
    <th>Spouse position 1</th>
    <th>Spouse position 2</th>
    <th>Spouse position 3</th>
    <th>Spouse position 4</th>
    <th>Spouse position 5</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chapter_leaders.each do |chapter_leader| %>
  <tr>
    <td><%= chapter_leader.chapter_id %></td>
    <td><%= chapter_leader.leader_id %></td>
    <td><%= chapter_leader.position_1 %></td>
    <td><%= chapter_leader.position_2 %></td>
    <td><%= chapter_leader.position_3 %></td>
    <td><%= chapter_leader.position_4 %></td>
    <td><%= chapter_leader.position_5 %></td>
    <td><%= chapter_leader.spouse_position_1 %></td>
    <td><%= chapter_leader.spouse_position_2 %></td>
    <td><%= chapter_leader.spouse_position_3 %></td>
    <td><%= chapter_leader.spouse_position_4 %></td>
    <td><%= chapter_leader.spouse_position_5 %></td>
    <td><%= link_to 'Show', chapter_leader %></td>
    <td><%= link_to 'Edit', edit_chapter_leader_path(chapter_leader) %></td>
    <td><%= link_to 'Destroy', chapter_leader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chapter leader', new_chapter_leader_path %>
