<p id="notice"><%= notice %></p>

<p>
  <b>Chapter:</b>
  <%= @chapter_leader.chapter_id %>
</p>

<p>
  <b>Leader:</b>
  <%= @chapter_leader.member.name %>
</p>

<p>
  <b>Position:</b>
  <%= @chapter_leader.position %>
</p>

  <b>Spouse position:</b>
  <%= @chapter_leader.spouse_position %>
</p>


<br>
<%= link_to 'Edit', edit_chapter_leader_path(@chapter_leader), :class => "btn btn-default" %> 
<%= link_to 'Back', chapter_leaders_path, :class => "btn btn-default" %>
