<p id="notice"><%= notice %></p>

<p>
  <b>Chapter:</b>
  <%= @chapter_leader.chapter_id %>
</p>

<p>
  <b>Leader:</b>
  <%= @chapter_leader.leader_id %>
</p>

<p>
  <b>Position 1:</b>
  <%= @chapter_leader.position_1 %>
</p>

<p>
  <b>Position 2:</b>
  <%= @chapter_leader.position_2 %>
</p>

<p>
  <b>Position 3:</b>
  <%= @chapter_leader.position_3 %>
</p>

<p>
  <b>Position 4:</b>
  <%= @chapter_leader.position_4 %>
</p>

<p>
  <b>Position 5:</b>
  <%= @chapter_leader.position_5 %>
</p>

<p>
  <b>Spouse position 1:</b>
  <%= @chapter_leader.spouse_position_1 %>
</p>

<p>
  <b>Spouse position 2:</b>
  <%= @chapter_leader.spouse_position_2 %>
</p>

<p>
  <b>Spouse position 3:</b>
  <%= @chapter_leader.spouse_position_3 %>
</p>

<p>
  <b>Spouse position 4:</b>
  <%= @chapter_leader.spouse_position_4 %>
</p>

<p>
  <b>Spouse position 5:</b>
  <%= @chapter_leader.spouse_position_5 %>
</p>

<br>
<%= link_to 'Edit', edit_chapter_leader_path(@chapter_leader), :class => "btn btn-default" %> 
<%= link_to 'Back', chapter_leaders_path, :class => "btn btn-default" %>
