    <%= f.fields_for :chapter_leaders do |cl| %>
      <div class="well">
        <%= cl.input :chapter_id, collection: current_user.chapters %>
        <p>Positions</p>
        <%= cl.select :position_1, ChapterLeader.positions %>
        <%= cl.select :position_2, ChapterLeader.positions %>
        <%= cl.select :position_3, ChapterLeader.positions %>
        <%= cl.select :position_4, ChapterLeader.positions %>
        <%= cl.select :position_5, ChapterLeader.positions %>
        <p>Household Member Positions:</p>
        <%= cl.select :spouse_position_1, ChapterLeader.positions %>
        <%= cl.select :spouse_position_2, ChapterLeader.positions %>
        <%= cl.select :spouse_position_3, ChapterLeader.positions %>
        <%= cl.select :spouse_position_4, ChapterLeader.positions %>
        <%= cl.select :spouse_position_5, ChapterLeader.positions %>
        <p>
          <%= cl.link_to_remove "Remove this position" %>
        </p>
      </div>

    <% end %>
    <p><%= f.link_to_add "Add a position", :chapter_leaders %></p>
