<%= simple_nested_form_for(@leader) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :contituent_id unless !current_user.admin %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :chapter_code unless !current_user.admin  %>
    <%= select :leader, :chapter_ids, grouped_options_for_select(chapters_by_state_for_select, @leader.chapter_ids), {}, :multiple => true, :disabled => true %>
    <%= render "chapter_leaders", :f => f %>
    <%= f.input :spouse_first_name %>
    <%= f.input :spouse_last_name %>
    <%= f.input :address %>
    <%= f.input :address_2 %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :address_import_id unless !current_user.admin  %>
    <%= f.input :phone_import_id  unless !current_user.admin %>
    <%= f.input :email_import_id unless !current_user.admin  %>
    <%= f.input :suppress_from_directory %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
