<p id="notice"><%= notice %></p>

<p>
  <b>Contituent:</b>
  <%= @leader.contituent_id %>
</p>

<p>
  <b>First name:</b>
  <%= @leader.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @leader.last_name %>
</p>

<p>
  <b>Chapter code:</b>
  <%= @leader.chapter_code %>
</p>

<p>
  <b>Position 1:</b>
  <%= @leader.position_1 %>
</p>

<p>
  <b>Position 2:</b>
  <%= @leader.position_2 %>
</p>

<p>
  <b>Position 3:</b>
  <%= @leader.position_3 %>
</p>

<p>
  <b>Position 4:</b>
  <%= @leader.position_4 %>
</p>

<p>
  <b>Position 5:</b>
  <%= @leader.position_5 %>
</p>

<p>
  <b>Spouse first name:</b>
  <%= @leader.spouse_first_name %>
</p>

<p>
  <b>Spouse last name:</b>
  <%= @leader.spouse_last_name %>
</p>

<p>
  <b>Spouse position 1:</b>
  <%= @leader.spouse_position_1 %>
</p>

<p>
  <b>Spouse position 2:</b>
  <%= @leader.spouse_position_2 %>
</p>

<p>
  <b>Spouse position 3:</b>
  <%= @leader.spouse_position_3 %>
</p>

<p>
  <b>Spouse position 4:</b>
  <%= @leader.spouse_position_4 %>
</p>

<p>
  <b>Spouse position 5:</b>
  <%= @leader.spouse_position_5 %>
</p>

<p>
  <b>Address:</b>
  <%= @leader.address %>
</p>

<p>
  <b>Address 2:</b>
  <%= @leader.address_2 %>
</p>

<p>
  <b>City:</b>
  <%= @leader.city %>
</p>

<p>
  <b>State:</b>
  <%= @leader.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @leader.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @leader.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @leader.email %>
</p>

<p>
  <b>Address import:</b>
  <%= @leader.address_import_id %>
</p>

<p>
  <b>Phone import:</b>
  <%= @leader.phone_import_id %>
</p>

<p>
  <b>Email import:</b>
  <%= @leader.email_import_id %>
</p>


<%= link_to 'Edit', edit_leader_path(@leader) %> |
<%= link_to 'Back', leaders_path %>
