<% if current_user %>
  <h1>User Profile</h1>
  <p>
    <strong>Name:</strong>
    <%= current_user.name %>
  </p>
  <p>
    <strong>Provider:</strong>
    <%= current_user.authentications.first.provider %>
  </p>
  <p>
    <strong>OmniAuth UID:</strong>
    <%= current_user.authentications.first.uid %>
  </p>
  <h3>Link an account:</h3>
      <a href="/auth/facebook" class="auth_provider">
      <%= image_tag "facebook_64.png", size: "64x64", alt: "Facebook" %>
    </a>
    <a href="/auth/google_oauth2" class="auth_provider">
      <%= image_tag "google_64.png", size: "64x64", alt: "Google" %>
    </a>

  <p><%= link_to "Log out", logout_path %></p>
<% else %>
  <h1>Sign In</h1>

  <p><strong>Sign in through one of these services:</strong></p>

  <div class="auth_providers">

    <a href="/auth/facebook" class="auth_provider">
      <%= image_tag "/assets/facebook_64.png", size: "64x64", alt: "Facebook" %>
    </a>
    <a href="/auth/google_oauth2" class="auth_provider">
      <%= image_tag "/assets/google_64.png", size: "64x64", alt: "Google" %>
    </a>
  </div>
  
  <p>
    <strong>Don't use these services?</strong>
    <%= link_to "Create an account", new_user_path %> or login below.
  </p>
  <%= form_tag "/auth/identity/callback", :class => "form-horizontal" do %>
      <%= label_tag :auth_key do %>Email:
        <%= text_field_tag :auth_key %>
      <% end %>
      <%= label_tag :password do %>Password:
        <%= password_field_tag :password %>
      <% end %>  
      <%= submit_tag "Login", :class => "btn btn-primary" %>
  <% end %>
<% end %>
