<%= simple_form_for(@user) do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :provider %>
  <%= f.input :uid %>
  <%= f.input :admin %>
    <%= select :user, :chapter_ids, grouped_options_for_select(chapters_by_state_for_select, @user.chapter_ids), {}, :multiple => true %>
    <br />

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to content_tag(:i, "", class: "icon-trash icon-white") + ' Delete', @user, method: :delete, :class => "btn btn-danger" %>

  </div>

<% end %>