<h1>Change Password</h1>

<%= simple_form_for(@user) do |f| %>
  <%= f.input :name, :readonly => true %>
  <%= f.input :email, :readonly => true %>

  <%= f.input :password, :as => 'password', :input_html => {:name => 'password'} %>
  <%= f.input :password_confirmation, :label => "Confirm Password", :as => 'password', :input_html => {:name => 'password_confirmation'} %>
    <br />

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
