<h3>Users</h3>

<%=form_tag delete_multiple_users_path do %>
<table class="table table-striped">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Email</th>
    <th>Provider</th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <% unless !admin_user? %>
        <td><%= check_box_tag "user_ids[]", user.id %></td>    
      <%end %>
      <td><%= link_to user.name, edit_user_path(user) %></td>
      <td><%= link_to user.email, "mailto:"+user.email %></td>
      <td><%= link_to user.provider, edit_user_path(user) %></td>
      <td><%= link_to content_tag(:i, "", class: "icon-trash icon-red") + "", user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger remove_fields"%></td>
    </tr>
  <% end %>
</table>
<%= submit_tag "Delete Checked", :class => "btn btn-danger remove_fields"%>
<%= link_to 'New User', new_user_path, class: "btn btn-primary"%>

<% end %>