<script type="text/javascript">
	var markers_json = <%=raw @hash.to_json || "null" %>;
</script>
<div class="row">
	<div class="map_container">
		<div style='width: 100%'>
		  <div id="map" style='width: 100%; height: 400px;'></div>
		</div>
	</div>
</div>

<div class="well chapter-search">
	<%= render :partial => 'chapters/map_intro' %>

	<%= form_tag "", :class => "form-vertical chapter-search" do %>
		<div class="control-group">

		<%= select_tag :state, options_for_select(us_states_long, :selected => params[:state]), :prompt => "Choose a state..." %> or 
		<%=text_field_tag :zip, params[:zip] || "", :placeholder => 'Enter Address/Zip Code' %> and
		<%=select_tag :distance, options_for_select((1..20).map {|x| [x*10,x*10]}, params[:distance]), :prompt => "Search distance in miles" %>
		</div>
		<div class="control-group">
			<%=submit_tag "Search", :class => "btn btn-danger"%>
	      	<%= button_tag "Clear Search", :type => "reset", :class => "reset-search btn btn-danger" %>
      	</div>
	<% end %>
</div>
<h1>
	PFLAG Chapters <%= unless params[:state].blank? 
						state_name = us_states_long.find { |item| item[1] == params[:state] }[0]
						 "in #{state_name}"  
						 end %>
</h1>

<% if @chapters_by_state.nil? %>
	<% @chapters.each do |chapter| %>
		<%= render :partial => 'chapters/chapter_listing', :locals => {:chapter => chapter } %>
	<% end %>
<% else %>
	<% @chapters_by_state.each do | state, chapters | %>
		<h3>
			<%= unless state.blank? 
					state_name = us_states_long.find { |item| item[1] == state }
				if state_name.blank?
					state_name = state
				else
					state_name = state_name[0]
				end
				"#{state_name}"  
			end %>
			<hr>
		</h3>
		<% chapters.each do |chapter| %>
			<%= render :partial => 'chapters/chapter_listing', :locals => {:chapter => chapter } %>
		<% end %>
	<% end %>
<% end %>
