<script type="text/javascript">
	var markers_json = <%=raw @hash.to_json || "null" %>;
	var cluster = null;
</script>

<div class="map_container">
	  <div id="map"></div>
</div>


<div class="well">
	<%= render :partial => 'chapters/map_intro' %>
</div>
<div class="well chapter-search">
<h2>Find a Chapter</h2>
	<%= form_tag "", :class => "form-horizontal chapter-search", :role => "form" do %>
<!--
		<div class="form-group">
		    <label for="state" class="col-sm-2 control-label">Select a State</label>
			<div class="col-sm-2">
				<%= select_tag :state, options_for_select(us_states_long, :selected => params[:state]), :prompt => "Choose a state...", :class => "select form-control" %>
				</div>
		</div>
-->
		<div class="form-group">
		    <label for="state" class="col-sm-4 control-label">Address or State/Zip Code</label>
			<div class="col-sm-4">
				<%=text_field_tag :zip, params[:zip] || "", :placeholder => 'Enter Address/State/Zip Code', :class => "form-control" %>
			    <%= hidden_field_tag :longitude, "" %>
    	  		<%= hidden_field_tag :latitude, "" %>

			</div>
			<div class="col-sm-2">
				<%=select_tag :distance, options_for_select((1..20).map {|x| [x*10,x*10]}, params[:distance]), :prompt => "Search distance in miles", :class => "select form-control" %>
			</div>
		</div>
		<br>
		<div class="control-group">

			<%=submit_tag "Search", :class => "btn btn-danger"%>
	      	<%= button_tag "Clear Search", :type => "reset", :class => "reset-search btn btn-danger" %>
	      	<%= button_tag "Show All", :class => "reset-search btn btn-danger", :id => "show-all-button"%>
	      	<% if params[:search_near_me].present? %>
	      	<script type="text/javascript">
				var SEARCH_NEAR_ME = true;
	      	</script>
	      	<%= button_tag "Search Near Me", :class => "btn btn-danger", :id => "search-near-me-button", :type => "button" %>
	      	<% end%>

      	</div>
	<% end %>
</div>
<div class="well chapter-directory">
	<h2>List Chapters by State</h2>

	<%= form_tag "", :class => "form-horizontal chapter-search", :role => "form" do %>
		<div class="form-group">
		    <label for="state" class="col-sm-2 control-label">Select a State</label>
			<div class="col-sm-2">
				<%= select_tag :state, options_for_select(us_states_long, :selected => params[:state]), :prompt => "Choose a state...", :class => "select form-control" %>
				</div>
		</div>
		<%=submit_tag "Search", :class => "btn btn-danger"%>
	<% end %>
</div>


<div id="chapter-listings"></div>
