<%= gmaps("markers" => { "data" => @json, "options" => { "do_clustering" => true, "clusterer_gridSize" => 15 } }
)%> <!--, "circles" => { "data" => @circles_json}-->

<div class="well">
	<%= form_tag root_path, :class => "form-inline" do %>
		<%=text_field_tag :zip, params[:zip] || "", :placeholder => 'Address/Zip Code' %>
		<%=select_tag :distance, options_for_select((1..20).map {|x| [x*10,x*10]}), :prompt => "Search distance in miles" %>
		<%=submit_tag "Search", :class => "btn btn-danger"%>
	<% end %>
</div>
<h1>
	PFLAG Chapters
</h1>

<% if @chapters_by_state.nil? %>
	<% @chapters.each do |chapter| %>
		<%= render :partial => 'chapters/chapter_listing', :locals => {:chapter => chapter } %>
	<% end %>
<% else %>
	<% @chapters_by_state.each do | state, chapters | %>
		<h3>
		 	<%= state %><hr>
		</h3>
		<% chapters.each do |chapter| %>
			<%= render :partial => 'chapters/chapter_listing', :locals => {:chapter => chapter } %>
		<% end %>
	<% end %>
<% end %>
