<div class="well chapter_listing">
	<div>
		<strong>
			<%if chapter.website.blank? %>
				<%=chapter.name%>
			<% else %>
				<%= link_to chapter.name, chapter.website_url %>
			<% end %>
		</strong>
	</div>

	<% unless chapter.website.blank? and chapter.facebook_url.blank? and chapter.twitter_url.blank? %>
	<div>

	<% unless chapter.website.blank? %>
		<%= link_to image_tag("link20.png",:height => "20",:alt => "#{chapter.name}'s Website"), chapter.website_url %>
	<%end%>
	<% unless chapter.facebook_url.blank? %>
		<%= link_to image_tag("facebook20.png",:height => "20", :alt => "#{chapter.name}'s Facebook Page"), chapter.facebook_url %>
	<%end%>
	<% unless chapter.twitter_url.blank? %>
		<%= link_to image_tag("twitter20.png",:height => "20",:alt => "#{chapter.name}'s Twitter Feed"), chapter.twitter_url %>
	<%end%>

	</div>
	<%end%>

	<% unless chapter.category.blank? or true %>
	<div><%=chapter.category%></div>
 	<%end%>
	<% unless (chapter.street.blank? or chapter.representative? or chapter.ambiguate_address?)  %>
		<div style="white-space: pre-wrap;" class="chapter-street"><%= chapter.street %></div>		
	<% end %>
	<div><%= "#{chapter.city}, " unless chapter.city.blank? %><%= "#{chapter.state} <span class=\"chapter-zip\">#{chapter.zip}</span>".html_safe %></div>
	<% unless chapter.state.blank? and chapter.city.blank? %>
	<a class="chapter-mailing-address-toggle">Show Mailing Address >> </a>	
	<% end %>
	<% unless chapter.email_1.blank? %>
		<div><%= link_to chapter.email_1, 'mailto:' + chapter.email_1%></div>
	<% end %>
	<% unless chapter.email_2.blank? %>
		<div><%= link_to chapter.email_2, 'mailto:' + chapter.email_2%></div>
	<% end %>
	<% unless chapter.phone_1.blank? %>
		<div><%= chapter.phone_1 %></div>
	<% end %>
	<% unless chapter.phone_2.blank? %>
		<div><%= chapter.phone_2 %></div>
	<% end %>
	<% if admin_user? %>
		<div>
			<%= "EIN: " + format_EIN(chapter.ein) unless chapter.ein.blank? %>
		</div>
		<div>
			<%= link_to 'Edit', edit_chapter_path(chapter.id) %>
		</div>
	<% end %>
</div>