<div class="well">
	<div>
		<%if chapter.website.nil? %>
			<%=chapter.name%>
		<% else %>
			<%= link_to chapter.name, chapter.website %>
		<% end %>

	</div>
	<%= "<div> #{chapter.category}</div>" unless chapter.category.nil? %>
	<% unless chapter.street.nil? %>
		<div style="white-space: pre-wrap;"><%= chapter.street %></div>
	<% end %>
	<div><%= "#{chapter.city}, #{chapter.state} #{chapter.zip}" %></div>
	<% unless chapter.email_1.nil? %>
		<div><%= link_to chapter.email_1, 'mailto:' + chapter.email_1%></div>
	<% end %>
	<% unless chapter.email_2.nil? %>
		<div><%= link_to chapter.email_2, 'mailto:' + chapter.email_2%></div>
	<% end %>
	<% unless chapter.email_1.nil? %>
		<div><%= chapter.phone_1 %></div>
	<% end %>
	<% if user_signed_in? %>
		<div>
			<%= "EIN: #{chapter.ein.chars.to_a[0..1].join}-#{chapter.ein.chars.to_a[2..8].join}" unless chapter.ein.nil? || chapter.ein.length == 0 || chapter.ein.length > 9 %>
		</div>
		<div>
			<%= link_to 'Edit', edit_chapter_path(chapter.id) %>
		</div>
	<% end %>
</div>