<div class="well chapter_listing">
	<div>
		<strong>
			<%if chapter.website.blank? %>
				<%=chapter.name%>
			<% else %>
				<%= link_to chapter.name, chapter.website_url %>
			<% end %>
		</strong>
	</div>
	<% unless chapter.category.blank? %>
	<div><%=chapter.category%></div>
 	<%end%>
	<% unless chapter.street.blank? %>
		<div style="white-space: pre-wrap;"><%= chapter.street %></div>
	<% end %>
	<div><%= "#{chapter.city}, " unless chapter.city.blank? %><%= "#{chapter.state} #{chapter.zip}" %></div>
	<% unless chapter.email_1.blank? %>
		<div><%= link_to chapter.email_1, 'mailto:' + chapter.email_1%></div>
	<% end %>
	<% unless chapter.email_2.blank? %>
		<div><%= link_to chapter.email_2, 'mailto:' + chapter.email_2%></div>
	<% end %>
	<% unless chapter.email_1.blank? %>
		<div><%= chapter.phone_1 %></div>
	<% end %>
	<% if admin_user? %>
		<div>
			<%= "EIN: " + format_EIN(chapter.ein) unless chapter.ein.blank? %>
		</div>
		<div>
			<%= link_to 'Edit', edit_chapter_path(chapter.id) %>
		</div>
	<% end %>
</div>