<%= simple_form_for(@chapter) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :website %>
    <%= f.input :street %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :email_1 %>
    <%= f.input :email_2 %>
    <%= f.input :email_3 %>
    <%= f.input :helpline %>
    <%= f.input :phone_1 %>
    <%= f.input :phone_2 %>
    <%= f.label :geocode do %>
      <%= check_box_tag :geocode %>Refresh Latitude/Longitude
    <% end %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :ein %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to content_tag(:i, "", class: "icon-trash icon-white") + ' Delete', @chapter, method: :delete, :class => "btn btn-danger" %>

  </div>
<% end %>
