<script type="text/javascript">
    var markers_json = <%=raw @hash.to_json || "null" %>;
</script>

<div style='width: 300px;'>
  <div id="map" style='width: 300px; height: 300px;'></div>
</div>

<%= simple_nested_form_for(@chapter) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :category, :collection => { :Chapter => "Chapter", :Representative => "Representative" } %>
    <%= f.input :website %>
    <%= f.input :facebook_url %>
    <%= f.input :twitter_url %>
    <%= f.input :street, :as => :text, :input_html => { :cols => 40, :rows => 3 } %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :email_1 %>
    <%= f.input :email_2 %>
    <%= f.input :email_3 %>
    <%= f.input :helpline %>
    <%= f.input :phone_1 %>
    <%= f.input :phone_2 %>
    <%= f.input :position_lock %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <% if current_user.has_role? :admin %>
      <%= f.input :ein %>
    <% else %>
      <%= f.input :ein, :readonly => true %>
    <% end %>
    <%= f.input :separate_exemption %>
    <%= f.input :inactive %>
    <% if current_user.has_role? :admin %>
    <div class="well">
      <h2>Admin Fields</h2>
      <%= f.input :ambiguate_address %>
      <%= f.input :revoked %>
      <%= f.input :revocation_date, :include_blank => true %>
      <%= f.input :database_identifier %>
      <%= f.input :pending %>
      <%= f.input :pending_reason %>
      <%= f.input :website_import_id %>
      <%= f.input :facebook_url_import_id %>
      <%= f.input :twitter_url_import_id %>
      <%= f.input :email_1_import_id, :as => :string %>
      <%= f.input :email_2_import_id, :as => :string %>
      <%= f.input :email_3_import_id, :as => :string %>
      <%= f.input :helpline_import_id %>
      <%= f.input :phone_1_import_id %>
      <%= f.input :phone_2_import_id %>
      <%= f.input :address_import_id %>
      <%= f.input :independent_import_id %>
      <%= f.input :ein_import_id %>
    </div>

    <% end %>
    <div>

      <div class="well form-horizontal">
        <h2>Chapter File Storage</h2>
        <%= link_to "Manage My Chapter Files", attachments_path(:chapter_id => @chapter.id) %>

          <%= f.fields_for :attachments do |attachment_form| %>
            <div class="well">
              <% if attachment_form.object.blank? %>
                <%= attachment_form.input :tag, collection: Asset.tags, prompt: "Select type of file" %>
                <%= attachment_form.input :attachment %>
              <% else %>
                <%= "<a href='#{attachment_form.object.attachment}'>#{attachment_form.object.tag}: #{attachment_form.object.attachment_file_name}</a>".html_safe %>
              <% end %>
              <%= attachment_form.link_to_remove "<i class='icon-trash icon-white'></i>Remove File".html_safe, class: "btn btn-danger" %>

            </div>
          <% end %>
          <p><%= link_to "Add File", attachments_path(:chapter_id => @chapter.id), class: "btn btn-primary" %></p>
      </div>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
    <%= link_to glyph("trash gylphicon-white") + ' Delete', @chapter, method: :delete, :class => "btn btn-danger" unless !admin_user? %>

  </div>
<% end %>
