<%= simple_nested_form_for(@chapter) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :category, :collection => { :Chapter => "Chapter", :Representative => "Representative" } %>
    <%= f.input :website %>
    <%= f.input :street, :as => :text, :input_html => { :cols => 40, :rows => 3 } %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :email_1 %>
    <%= f.input :email_2 %>
    <%= f.input :email_3 %>
    <%= f.input :helpline %>
    <%= f.input :phone_1 %>
    <%= f.input :phone_2 %>
    <%= f.label :geocode do %>
      <%= check_box_tag :geocode %>Refresh Latitude/Longitude
    <% end %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= if admin_user? 
          f.input :ein 
        else
          f.input :ein, :readonly => true 
        end %>
    <%= f.input :separate_exemption %>
    <%= f.input :inactive %>
    <%= f.input :database_identifier %>
    <%= f.input :chapter_legacy_identifier %>
    <div>

      <div class="well form-horizontal">
        <h2>Chapter File Storage</h2>
        <%= link_to "Manage My Chapter Files", assets_path %>

          <%= f.fields_for :assets do |asset_form| %>
            <div class="well">
              <% if asset_form.object.attachment_file_name.nil? %>

                <%= asset_form.input :tag, collection: Asset.tags, prompt: "Select type of file" %>
                <%= asset_form.input :attachment %>
              <% else %>
                <%= "<a href='#{asset_form.object.attachment}'>#{asset_form.object.tag}: #{asset_form.object.attachment_file_name}</a>".html_safe %>
              <% end %>
              <%= asset_form.link_to_remove "<i class='icon-trash icon-white'></i>Remove File".html_safe, class: "btn btn-danger" %>

            </div>
          <% end %>
          <p><%= f.link_to_add "Add File", :assets, class: "btn btn-primary" %></p>
      </div>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to content_tag(:i, "", class: "icon-trash icon-white") + ' Delete', @chapter, method: :delete, :class => "btn btn-danger" unless !admin_user? %>

  </div>
<% end %>
