<%= simple_form_for(@chapter) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :category, :collection => { :Chapter => "Chapter", :Representative => "Representative" } %>
    <%= f.input :website %>
    <%= f.input :street, :as => :text, :input_html => { :cols => 40, :rows => 3 } %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :email_1 %>
    <%= f.input :email_2 %>
    <%= f.input :email_3 %>
    <%= f.input :helpline %>
    <%= f.input :phone_1 %>
    <%= f.input :phone_2 %>
    <%= f.label :geocode do %>
      <%= check_box_tag :geocode %>Refresh Latitude/Longitude
    <% end %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= if admin_user? 
          f.input :ein 
        else
          f.input :ein, :readonly => true 
        end %>
    <%= f.input :separate_exemption %>
    <%= f.input :inactive %>
    <%= f.input :database_identifier %>
    <%= f.input :chapter_legacy_identifier %>
    <%= f.association :assets %>
    <div>
      <%= f.label :bylaws %>
      <%= f.input :bylaws, :as => :file %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to content_tag(:i, "", class: "icon-trash icon-white") + ' Delete', @chapter, method: :delete, :class => "btn btn-danger" %>

  </div>
<% end %>
