<a href="<%=chapter.website%>"><b><%= chapter.name %></b></a>
<div><%= "#{chapter.street}" %></div>
<div><%= "#{chapter.city}, #{chapter.state} #{chapter.zip}" %></div>
<div><%= chapter.phone_1%></div>
<div><%= link_to 'Edit', edit_chapter_path(chapter.id) %></div>