<% self.formats = [:json, :html] %>
<% if !chapter.website_url.blank? %>
	<div><a href="<%=chapter.website_url%>"><b><%= chapter.name %></b></a></div>
<% else %>
	<div style="font-weight: bold;"><%= chapter.name %></div>
<% end %>
<% if (chapter.representative?) and false %>
<div><%= chapter.category %></div>
<% end %>

<% unless chapter.website.blank? and chapter.facebook_url.blank? and chapter.twitter_url.blank? %>
	<div>

	<% unless chapter.website.blank? %>
		<%= link_to image_tag("link20.png",:height => "20",:alt => "#{chapter.name}'s Website"), chapter.website_url %>
	<%end%>
	<% unless chapter.facebook_url.blank? %>
		<%= link_to image_tag("twitter20.png",:height => "20", :alt => "#{chapter.name}'s Facebook Page"), chapter.website_url %>
	<%end%>
	<% unless chapter.twitter_url.blank? %>
		<%= link_to image_tag("twitter20.png",:height => "20",:alt => "#{chapter.name}'s Twitter Feed"), chapter.website_url %>
	<%end%>

	</div>
<%end%>



<% unless (chapter.street.blank? or chapter.representative? or chapter.ambiguate_address?)  %>
<div><%= "#{chapter.street}" %></div>
<% end %>
<div><%= chapter.city_state_zip %></div>
<% unless chapter.phone_1.blank? %>
<div><%= chapter.phone_1 %></div>
<% end %>
<% unless chapter.email_1.blank? %>
<div><a href="mailto:<%= chapter.email_1 %>"><%= chapter.email_1 %></a></div>
<% end %>
<% unless not admin_user? %>
	<div><%= link_to 'Edit', edit_chapter_path(chapter.id) %></div>
<% end%>