<% self.formats = [:json, :html] %>
<% if !chapter.website_url.blank? %>
	<div><a href="<%=chapter.website_url%>"><b><%= chapter.name %></b></a></div>
<% else %>
	<div style="font-weight: bold;"><%= chapter.name %></div>
<% end %>
<% if (chapter.representative?) and false %>
<div><%= chapter.category %></div>
<% end %>

<div>
    <% unless chapter.website.blank? %>
        <%= link_to image_tag("link20.png",:height => "20",:alt => "#{chapter.name}'s Website"), chapter.website_url %>
    <%end%>
    <% unless chapter.facebook_url.blank? %>
        <%= link_to image_tag("facebook20.png",:height => "20", :alt => "#{chapter.name}'s Facebook Page"), chapter.facebook_url %>
    <%end%>
    <% unless chapter.twitter_url.blank? %>
        <%= link_to image_tag("twitter20.png",:height => "20",:alt => "#{chapter.name}'s Twitter Feed"), chapter.twitter_url %>
    <%end%>
        <% unless chapter.meetings_url.blank? %>
        <%= link_to image_tag("meetings_url20.png",:height => "20",:alt => "#{chapter.name}'s Meetings Page"), chapter.meetings_url %>
    <%end%>
    <% [:meetings_multiple, :meetings_trans, :meetings_poc].each do |n| %>
    <% next if chapter.send(n).blank? %>

        <% img = "#{n}_20.png" %>
    <% alt = t("activerecord.attributes.chapter.#{n}").gsub!("?","") %>
        <%=image_tag(img,:height => "20",:alt => alt)%>
    <%end%>
</div>



<% unless (chapter.street.blank? or chapter.representative? or chapter.ambiguate_address?)  %>
<div><%= "#{chapter.street}" %></div>
<% end %>
<div><%= chapter.city_state_zip %></div>
<% unless chapter.phone_1.blank? %>
<div><%= chapter.phone_1 %></div>
<% end %>
<% unless chapter.email_1.blank? %>
<div><a href="mailto:<%= chapter.email_1 %>"><%= chapter.email_1 %></a></div>
<% end %>
<% unless not admin_user? %>
	<div><%= link_to 'Edit', edit_chapter_path(chapter.id) %></div>
<% end%>