<h1>Chapters</h1>


<%= form_tag chapters_path, :method => 'get', :class => "form-inline" do %>

    <%= text_field_tag :search, params[:search], :class => "control-label" %>
      <%= submit_tag "Search", :name => nil, :class => "btn" %>
<% end %>


<%=form_tag delete_multiple_chapters_path do %>
<table class="table table-striped">
  <tr>
    <% unless !admin_user? %>
      <th></th>
    <% end %>
    <th>Name</th>
    <th>Category</th>
    <th>Website</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Email 1</th>
    <th>Ein</th>
    <th></th>
  </tr>

  <% @chapters.each do |chapter| %>
    <tr>
      <% unless !admin_user? %>
        <td><%= check_box_tag "chapter_ids[]", chapter.id %></td>    
      <%end %>
      <td><%= link_to chapter.name, edit_chapter_path(chapter) %></td>
      <td><%= chapter.category %></td>
      <td><%= link_to 'Link', chapter.website %></td>
      <td><%= chapter.street %></td>
      <td><%= chapter.city %></td>
      <td><%= chapter.state %></td>
      <td><%= chapter.zip %></td>
      <td><%= chapter.email_1 %></td>
      <td><%= format_EIN(chapter.ein) %></td>
      <td><%= link_to content_tag(:i, "", class: "glyphicon glyphicon-trash glyphicon-trash-white") + "", chapter, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger remove_fields" unless !admin_user? %> </td>
    </tr>
  <% end %>
</table>

<br />
<% unless !admin_user? %>
<%= submit_tag "Delete Checked", :class => "btn btn-danger remove_fields"%>
<%= link_to 'New Chapter', new_chapter_path, class: "btn btn-primary" %>
<% end %>
<div>
  Download:
  <%= link_to "CSV", chapters_path(format: "csv") %>
</div>

<% end %>

