<p>
  <b>Name:</b>
  <%= @chapter.name %>
</p>

<p>
  <b>Category:</b>
  <%= @chapter.category %>
</p>


<p>
  <b>Gmaps Address:</b>
  <%= @chapter.gmaps_address %>
</p>


<p>
  <b>Website:</b>
  <%= @chapter.website %>
</p>

<p>
  <b>Street:</b>
  <%= @chapter.street %>
</p>

<p>
  <b>City:</b>
  <%= @chapter.city %>
</p>

<p>
  <b>State:</b>
  <%= @chapter.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @chapter.zip %>
</p>

<p>
  <b>Email 1:</b>
  <%= @chapter.email_1 %>
</p>

<p>
  <b>Email 2:</b>
  <%= @chapter.email_2 %>
</p>

<p>
  <b>Email 3:</b>
  <%= @chapter.email_3 %>
</p>

<p>
  <b>Helpline:</b>
  <%= @chapter.helpline %>
</p>

<p>
  <b>Phone 1:</b>
  <%= @chapter.phone_1 %>
</p>

<p>
  <b>Phone 2:</b>
  <%= @chapter.phone_2 %>
</p>

<p>
  <b>Latitude:</b>
  <%= @chapter.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @chapter.longitude %>
</p>

<p>
  <b>Ein:</b>
  <%= format_EIN @chapter.ein %>
</p>

<p>
  <b>database_identifier:</b>
  <%= @chapter.database_identifier %>
</p>
<% end %>
<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
