<ul class="nav navbar-nav">
  <% if user_signed_in? %>
    <li>
      <%= link_to 'Chapter Listings', chapters_path %>
    </li>
    <li>
       <%= link_to "Chapter Files", attachments_path %>
     </li>
    <li>
      <%= link_to 'Chapter Leaders', chapter_leaders_path %>
    </li>

    <li>
      <%= link_to 'Members', members_path if can? :index, Member %>
    </li>

    <li>
      <%= link_to current_user.email, edit_user_registration_path %>
    </li>

    <li>
    <%= link_to("Logout", destroy_user_session_path, :method => :delete) %>
    </li>
    <li>
 
    </li>
  <% else %>
    <li>
    <%if not Rails.env.production?%>
    <%= link_to 'Login', new_user_session_path %>
    <% else %>
    <%= link_to 'Login', 'http://pflag.org/login' %>
    <%end%>
    </li>
  <% end %>
  <% if admin_user? %>
    <li>
      <%= link_to "Users", users_path %>
    </li>
  <% end %>
</ul>
