    <%= f.fields_for :chapter_leaders do |cl| %>
      <div class="well">
        <%= cl.select :chapter_id, grouped_options_for_select(chapters_by_state_for_select, @member.chapter_id) %>
        <p>Positions</p>

        <%= cl.select :position, ChapterLeader.positions %>
        <p>Household Member Position:</p>
        <%= cl.select :spouse_position, ChapterLeader.positions %>
        <p>
          <%= cl.link_to_remove "Remove this position" %>
        </p>
      </div>

    <% end %>
    <p><%= f.link_to_add "Add a position", :chapter_leaders %></p>
